nodered/flows.json
[{"id":"2f8517ee.47f62","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1cf0658.77bb99b","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b3a92e40.9a6b9","type":"mqtt-broker","z":"","name":"","broker":"lora.campusiot.imag.fr","port":"8883","tls":"cd4e7711.4ce","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ba51b269.85907","type":"ttn app","z":"","appId":"polytech_chirpstack","accessKey":"ttn-account-v2.SIhUEHKrB2uOK75WXcmo_p0x1NE3Z7vxDwnEcTiVaUk","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"cd4e7711.4ce","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"ca.crt","servername":"","verifyservercert":true},{"id":"b3f57c6b.92c168","type":"ttn uplink","z":"1cf0658.77bb99b","name":"","app":"ba51b269.85907","dev_id":"fabmstic","field":"","x":500,"y":320,"wires":[["e6826290.5b4b58"]]},{"id":"e6826290.5b4b58","type":"debug","z":"1cf0658.77bb99b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":940,"y":320,"wires":[]},{"id":"529c195b.75c908","type":"mqtt in","z":"2f8517ee.47f62","name":"chirpstack","topic":"application/+/device/+/rx","qos":"2","datatype":"auto","broker":"b3a92e40.9a6b9","x":420,"y":300,"wires":[["fa110ddf.1e03b"]]},{"id":"fa110ddf.1e03b","type":"json","z":"2f8517ee.47f62","name":"","property":"payload","action":"","pretty":false,"x":590,"y":300,"wires":[["d58693f3.69db18"]]},{"id":"d58693f3.69db18","type":"function","z":"2f8517ee.47f62","name":"JSON filter","func":"function dr_convert(data_rate) {\n    switch(data_rate) {\n        case 0: \n            dr = \"SF12BW125\";\n            break;\n        case 1: \n            dr = \"SF11BW125\";\n            break; \n        case 2: \n            dr = \"SF10BW125\";\n            break;   \n        case 3: \n            dr = \"SF9BW125\";\n            break;\n        case 4: \n            dr = \"SF8BW125\";\n            break;\n        case 5: \n            dr = \"SF7BW125\";\n            break;\n        case 6: \n            dr = \"SF7BW250\";\n    }\n    return dr;\n}\n\nif(msg.payload.applicationName === \"ELSYS_EMS\") {\n    return {\n        app_id : msg.payload.applicationID,\n        app_name : msg.payload.applicationName,\n        dev_name : msg.payload.deviceName,\n        port : msg.payload.fPort,\n        counter: msg.payload.fCnt,\n        payload_raw : msg.payload.data,\n        payload_fields : msg.payload.object,\n        payload : msg.payload.object,\n        metadata : {\n            frequency : msg.payload.txInfo.frequency,\n            data_rate : dr_convert(msg.payload.txInfo.dr),\n            gateaways : msg.payload.rxInfo\n        }\n    }\n}","outputs":1,"noerr":0,"x":790,"y":300,"wires":[["8b458576.c26108","e8c86012.56dc68"]]},{"id":"8b458576.c26108","type":"debug","z":"2f8517ee.47f62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":300,"wires":[]},{"id":"e8c86012.56dc68","type":"ttn downlink","z":"2f8517ee.47f62","name":"TTN for FTD","app":"ba51b269.85907","dev_id":"ftd_20cbc","port":"1","confirmed":false,"schedule":"replace","x":1110,"y":360,"wires":[]}]